<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <title>Find What You Like</title>
</head>
<body>
  <div>
    <h1 class="status"></h1>
    <button class="location-button">Get My Location</button>   
  </div>
    <div class="container">
        <form class="form">  
          <input type="text" class="input-box" placeholder="Favorite Genre">
          <input type="text" class="input-box" placeholder="Date Range">
          <input type="text" class="input-box" placeholder="Maximum Price">
          <input type="text" class="input-box" placeholder="Maximum Distance from Location">
          <button type="submit" class="submit-button">Submit</button>
        </form>
    </div>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>